@media only  screen and (max-width: 600px) {
    .about-col-1{

        flex-basis: 100%;
        padding-left: 30px;
        padding-top: 0;


        
      
    }


.header-text{
    margin-top: 40%;
    font-size: 13px;

}

.header-text h1{
    font-size: 30px;
}

nav .fa-solid{
    display: block;
    font-size: 25px;
    align-items: right;

}
nav ul{
    background-color: #1186b5;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index:2 ;
    transition: right 0.5s;
}

nav ul li{

    display: block;
    margin: 25px;
}
nav ul .fa-solid{

    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

.text{
    font-size: 40px;
}

.about-col-1.about-col-2{
    flex-basis: 100%;
}

.about-col-1{
    margin-bottom: 30px;
    
}
.about-col-2{
    font-size: 14px;
    
}
.tab-link{
    font-size:4px;

    margin-right:20px ;

}
.contact-left,.contact-right{
    flex-basis: 100%;
}



}
#msg{
    color: #00abf0;
    margin-top: -40px;
    display: block;
}